* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

 body {
   margin: 0;
  background-image:url("lotusogbg.png");
   overflow: hidden;
  background-attachment: fixed;
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;} 



.hidden {
  display: none;
}

/* Center everything */
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 30px;
}


/* Pop animation */
@keyframes pop {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.30);
  }
}

/* Button */
.start-btn {
  padding: 14px;
  font-size: 45px;
  border: none;
  border-radius: 40px;
  border: pink;
  border-width: 7px;
  border-style: double;
  background: white;
  color: #6a0dad;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-family:"Pixelify Sans", sans-serif;
   font-weight: 400;
  font-style: normal;
}
a
{
color: #6a0dad;
 font-family:"Pixelify Sans", sans-serif;
   font-weight: 400;
  font-style: normal;
  text-decoration: none;
}

.start-btn:hover {
  transform: scale(2.7);
}

.birthday-text {
  animation: popBounce 1s ease forwards;
}
@keyframes popBounce {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
  }
  70% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.dress-btn
{
  
  padding: 12px;
  font-size: 32px;
  border: none;
  border-radius: 45px;
  border: pink;
  border-width: 7px;
  border-style: double;
  background: white;
  color: #6a0dad;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-family:"Pixelify Sans", sans-serif;
   font-weight: 400;
  font-style: normal;
  margin-top: 20px;
  position: relative;
  z-index: 99999;
}
.dress-btn:hover {
  transform: scale(1.7);
}
/* Birthday text animation */
.birthday-text {
  font-size: 80px;
  word-spacing: 20px;
  font-family: "Bagel Fat One", system-ui;
  color: rgb(96, 32, 163);
  animation: pop 1.2s ease-out infinite alternate;
  font-optical-sizing: auto;
  font-weight:0;
  margin-top: 20px; 
  font-style: "Bagel Fat One", system-ui;
}
/* ===== CONFETTI (WORKING) ===== */

.confetti {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255,0,0,0.05); /* TEMP: to see container */
}

.confetti span {
  position: absolute;
  width: 20px;
  height: 20px;
   background: rgb(106, 14, 198);
  animation: fall 2s linear forwards;
}

@keyframes fall {
  0% {
    transform: translateY(-20px) scale(0.5);
  }
  100% {
    transform: translateY(120vh) scale(1);
  }
}

#introVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

#introVideo video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#introVideo button {
  position: absolute;
  bottom: 60px;
  padding: 14px 36px;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  background: rgba(255,255,255,0.9);
  cursor: pointer;
}
